{% extends 'authentication/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner_slider %}

<!--Banner Slider-->
 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      {% for img in images %}
    <div class="carousel-item active">
      <img src="media/{{img.image}}" alt="" class="d-block w-100" alt="...">   
    </div>
   {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
{% endblock banner_slider %}