{% extends 'authentication/base.html' %}
{% load static %}
{% block title %}Customer Registration{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Login</h3>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
{% if form.non_field_errors %}
{% for error in form.non_field_errors%}
{{error}}
{% endfor %}

{% endif %}

 {% for form in form  %}
 {{form.label_tag}} {{form}} {{form.errors|striptags}} <br><br>
 
 {% endfor %}
   <a href="/login"><input type="submit" value ="login"></a> 
   <br>
    <div class ="text-center text-primary fw-bold"><small> Not to Shoppingx? <a href="{% url 'customerregistration'%}" class="text-danger">Create an Account</a></small></div>


   </form>
  </div>
 </div>
</div>


{% endblock main-content %}
